{# <div class="container mt-10 shadow-lg p-4 overlay overlay-dark overlay-70 text-white" id="about"> #}
<div class="container mt-3 text-white" id="about">
	<div class="col-lg-12 mx-auto p-5" style="
			{# background-image: url({{ asset('build/images/covers/pontus-wellgraf-frZt8AVYdI0-unsplash.jpg') }});
			background-color: #1a2c42;
			background-attachment: fixed;
			background-size: cover;#}

			">
		<div class="row">
		<!-- Heading -->
		<div class="section-title">
			<h1 class="display-4 text-center text-warning fw-bolder">A PROPOS</h1>
		</div>

		<!-- Content -->


			<div class="content">
				<h3 class="text-center">Developer PHP Symfony  &amp; Developer Back-End</h3>
				<h6 class="font-italic">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
					dolore
					magna aliqua.
				</h6>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-2">
				<img src="{{ asset('build/images/photos/moi.png') }}" class="img-fluid rounded-circle" data-aos="zoom-in" alt="">
			</div>
			<div class="col-lg-4">
				<ul>
					<li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>30</span></li>
					<li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Master</span></li>
					<li><i class="bi bi-chevron-right"></i> <strong>PhEmailone:</strong>
						<span>email@example.com</span></li>
				</ul>
			</div>
			<div class="col-lg-8">
				<p>
					Autonome, travailleur, curieux, motivé, ayant le goût de l'apprentissage et du challenge, je souhaite apporter mes compétences à votre entreprise.
				</p>
			</div>
		</div>
	</div>
	<hr class="hr-sm my-6 my-md-8 mx-auto bg-warning">
</div>

