<!-- MODALS -->
<!-- Example -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalExampleTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div class="modal-content bg-transparent overlay overlay-dark overlay-90"">
        <div class="modal-body">

            <!-- Close -->
            <button type="button" class="btn-close btn-warning" data-dismiss="modal" aria-label="Close" id="btnClose"></button>


            <div class="row d-flex align-items-center">
                <div class="col-lg-4">
                    <img src="{{ asset('build/images/photos/moi.png') }}" class="img-fluid rounded-circle">
                </div>


                <div class="col-lg-8">
                    <h5>
                        Autonome, travailleur, curieux, motivé, ayant le goût de l'apprentissage et du challenge, je reste à votre disposition si vous souhaitez
                        <a href="#contact" class="text-warning">me contacter.</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
</div>