<!-- MODALS -->
<!-- Example -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalExampleTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div class="modal-content bg-transparent overlay overlay-dark overlay-90"">
        <div class="modal-body">

            <!-- Close -->
            <button type="button" class="btn-close btn-warning" data-dismiss="modal" aria-label="Close" id="btnClose"></button>


            <!-- Heading -->
            <div class="content p-2">
                <h3 class="text-center">Developer PHP Symfony &amp; Developer Back-End</h3>

            </div>

            <div class="row">
                <div class="col-lg-4">
                    <img src="{{ asset('build/images/photos/moi.png') }}" class="img-fluid rounded-circle">
                </div>
                <div class="col-lg-8">
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>35</span></li>
                        <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>RNCP Niveau 2</span></li>
                        <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong>
                            <span>nicodupblog@gmail.com</span></li>
                    </ul>
                </div>
            </div>
            <div class="row mt-3">
            <p>
                Autonome, travailleur, curieux, motivé, ayant le goût de l'apprentissage et du challenge, je souhaite apporter mes compétences à votre entreprise.
            </p>
        </div>




        </div>
    </div>
</div>
</div>