<div class="container p-4 text-white" id="projects">

	<!-- ARTICLES -->
	<section>
		<div class="container">

			<div class="section-title mb-5">
				<!-- Heading -->
				<h1 class="text-center text-warning fw-bold"># Mes Projets</h1>
				<!-- Text -->
				<h6 class="text-center">Voici la liste des projets que j'ai eu à valider durant ma formation chez OCS.
				</h6>
			</div>

			<div class="row">
				{% for project in projects %}
					<div class="col-12 col-md-6 col-lg-4 d-flex mb-5">

						<!-- Card -->
						<div class="card mb-6 mb-xl-0 pt-14 overlay overlay-black overlay-30 bg-cover shadow-light-lg" style="background-image: url({{ vich_uploader_asset(project, 'imageFile') | imagine_filter('project') }});">

							<!-- Body -->
							<a class="card-body mt-auto" href="{{ path('project_show', { 'slug': project.slug }) }}">

								<!-- Heading -->
								<h5 class="text-white fw-bold">
									{{ project.title }}
								</h5>

								<!-- Text -->
								<p class="mb-0 text-white">
									{{ project.description | striptags }}
								</p>
							</a>
						</div>

					</div>
				{% endfor %}
			</div>
		</div>
	</section>
</div>
