<div class="container mt-10">


	<div
		class="section-title">
		<!-- Headin -->
		<h1 class="display-4 fw-bold text-center">Resume</h1>
		<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>

	</div>

	<div class="row">
		<div class="col-lg-6">
			{#<h3 class="resume-title">Sumary</h3>
			<div class="resume-item pb-0">
				<h4>Nicolas Dupriez</h4>
				<p>
					<em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em>
				</p>
				<ul>
					<li>Portland par 127,Orlando, FL</li>
					<li>(123) 456-7891</li>
					<li>alice.barkley@example.com</li>
				</ul>
			</div>#}

			<h3 class="resume-title">Education</h3>
			<div class="resume-item">
				<h4>Développeur d'application PHP / Symfony - 2021</h4>
				<h5>2019 - 2021</h5>
				<p>
					<em>Openclassrooms</em>
				</p>
				<ul>
					<li>Analyser les besoins à partir du cahier des charges défini par le client ou le chef de projet</li>
					<li>Définir les différentes étapes de fonctionnement de l’application</li>
					<li>Réaliser des tests unitaires et fonctionnels</li>
					<li>Assurer le support technique du site</li>
					<li>Produire une documentation technique et fonctionnelle du sitepour le client</li>
					<li>Apporter d’éventuelles corrections de bugs et effectuer des mises à jour</li>
				</ul>
			</div>
			<div class="resume-item">
				<h4>BTS Informatique Option Développeur d'Applications</h4>
				<h5>2006</h5>
				<p>
					<em>Lycée André Malraux Béthune</em>
				</p>
				<ul>
					<li>Concevoir et développer des applications informatiques</li>
					<li>Mettre en oeuvre et maintenir des programmes informatiques qui assurent le fonctionnement des applications</li>
				</ul>
			</div>
			<div class="resume-item">
				<h4>DUT Génie des Télécoms et réseaux (1er année) </h4>
				<h5>2004</h5>
				<p>
					<em>IUT Béthune</em>
				</p>
			</div>
		</div>
		<div class="col-lg-6">
			<h3 class="resume-title">Professional Experience</h3>
			<div class="resume-item">
				<h4>Tech Manager - Développeur PHP Symfony </h4>
				<h5>2019 - Present</h5>
				<p>
					<em>Shopbot YFC
					</em>
				</p>
				<ul>
					<li>Responsable de la maintenance/infrastructure serveurs dédiés OVHcloud</li>
					<li>Automatisation de la mise en prod via SaltStack
					</li>
					<li>Surveillance des piles RabbitMQ / SQS</li>
					<li>Renouvellement des certificats SSL</li>
				</ul>
			</div>
			<div class="resume-item">
				<h4>Datafeed Manager - Content Manager</h4>
				<h5>2015 - 2019</h5>
				<p>
					<em>Shopbot YFC</em>
				</p>
				<ul>
					<li>Responsable de la configuration des flux marchands</li>
					<li>Responsable du contenu produits/offres</li>
					<li>Support technique</li>
				</ul>
			</div>
			<div class="resume-item">
				<h4>Infomédiaire</h4>
				<h5>2007 - 2015</h5>
				<p>
					<em>Shopbot YFC</em>
				</p>
				<ul>
					<li>Mise en place de contenu sur le comparateur</li>
				</ul>
			</div>
			<div class="resume-item">
				<h4>Stage - eCommerce</h4>
				<h5>2006</h5>
				<p>
					<em>SDECIMA</em>
				</p>
				<ul>
					<li>Développement du site d'eCommerce</li>
				</ul>
			</div>
		</div>
	</div>

</div>
