<div class="container-fluid p-2 text-white overlay overlay-white overlay-10" id="skills">

	<div class="col-lg-6 mx-auto">
		<div class="section-title mb-5">
			<!-- Heading -->
			<h1 class="text-center text-warning fw-bold"># Mes Compétences</h1>
			<!-- Text -->
			<h6 class="text-center">Voici les principales compétences professionnelles acquises pendant ma formation chez OCS en tant que développeur PHP / Symfony.
				J'ai également acquis quelques compétences en tant qu'AdminSys/DevOps débutant grâce à mon emploi actuel.
			</h6>
		</div>

		<div class="row skills-content">

			{% for skill in skills %}

				<div class="col-12 col-md-6 product mb-1">
					<p class="skill">{{ skill.title }}
					</p>
					<div class="progress mb-1 overlay overlay-white overlay-10">
						<div class="progress-bar" data-aos="fade-right" role="progressbar" style="width: {{ skill.percentage }}%" aria-valuenow="{{ skill.percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
					</div>

				</div>
			{% endfor %}

		</div>
	</div>
	<hr class="hr-sm my-6 my-md-8 mx-auto bg-warning">
</div>

