
<!-- The social media icon bar -->
{# <div class="icon-bar overlay overlay-white overlay-10 rounded-3" id="social-button"> #}
<div class="icon-bar rounded-3" id="social-button" data-aos="fade-right">
    <a href="https://twitter.com/NicoAtHome2" class="text-white"><i class="fab fa-twitter fa-2x text-gray-500"></i></a>
    <a href="https://github.com/WainlaiN" class="text-white"><i class="fab fa-github fa-2x text-gray-500"></i></a>
    <a href="https://gitlab.com/WainlaiN" class="text-white"><i class="fab fa-gitlab fa-2x text-gray-500"></i></a>
    <a href="https://www.linkedin.com/in/nicolas-dupriez/" class="text-white"><i class="fab fa-linkedin fa-2x text-gray-500"></i></a>
</div>