<!-- WELCOME -->
{# <section class="overlay overlay-dark overlay-40" data-jarallax data-speed=".8" style="background-image: url({{ asset('build/images/covers/wallpapertip_web-design-wallpaper_838362.jpg') }})"> #}
<section class="overlay overlay-white overlay-20" data-jarallax data-speed=".8" style="background-image: url({{ asset('build/images/covers/wallpapertip_web-design-wallpaper_838362.jpg') }})">
	<div class="container">
		<div class="row min-vh-100 py-8 py-md-11">
			<div class="col-12 col-md-8 col-lg-12 mt-auto">

				<!-- Brand -->
				<div class="col-12 col-md-8 col-lg-10 pl-10" data-aos="zoom-in">

					<!-- Heading -->
					<h1 class="display-6 fw-bold text-white" id="welcomeHeadingSource">
						Nicolas Dupriez <br />
						Developpeur <span class="text-warning" data-typed='{"strings": ["Web", "PHP / Symfony", "Back-End"]}'></span>
					</h1>

					<!-- Social -->
					<ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
						<li class="list-inline-item list-social-item me-3">
							<a href="#" class="text-white"><i class="fab fa-twitter fa-2x"></i></a>
						</li>
						<li class="list-inline-item list-social-item me-3">
							<a href="#" class="text-white"><i class="fab fa-github fa-2x"></i></a>
						</li>
						<li class="list-inline-item list-social-item me-3">
							<a href="#" class="text-white"><i class="fab fa-gitlab fa-2x"></i></a>
						</li>
						<li class="list-inline-item list-social-item me-3">
							<a href="#" class="text-white"><i class="fab fa-linkedin fa-2x"></i></a>
						</li>
					</ul>
				</div>

			</div>
			<div class="col-12 mt-auto text-center">

				<!-- Button -->
				<a class="text-warning" data-scroll='{"offset": 0}' href="#about">
					{# <i class="fe fe-arrow-down text-warning"></i> #}
					<i class="fa fa-chevron-down fa-3x"></i>
				</a>

			</div>
		</div> <!-- / .row -->
	</div> <!-- / .container -->
</section>
