@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "./scss/theme.scss";
@import "./scss/libs.scss";
@import "./_portfolio.scss";
@import "./_skill.scss";
@import "./_resume.scss";
@import "./_top.scss";

@font-face {
	font-family: "FiraCodeBold";
	src: url("../fonts/FiraCode/FiraCode-Bold.woff2") format("woff2"),
	url("../fonts/FiraCode/FiraCode-Bold.woff") format("woff");
}
@font-face {
	font-family: "FiraCodeLight";
	src: url("../fonts/FiraCode/FiraCode-Light.woff2") format("woff2"),
	url("../fonts/FiraCode/FiraCode-Light.woff") format("woff");
}
@font-face {
	font-family: "FiraCodeRegular";
	src: url("../fonts/FiraCode/FiraCode-Regular.woff2") format("woff2"),
	url("../fonts/FiraCode/FiraCode-Regular.woff") format("woff");
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
}

#about {
	//opacity: .8;
}

body {
	font-family: "FiraCodeRegular", serif;
	//background-color: white;
	background-color: #2c2a32;
	//background-image: url("../img/covers/wallpapertip_web-design-wallpaper_838362.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	//color: white;
	//opacity: .8;
	color: white;
}

.section-background {
	//background-color: #121419;
	//background-color: #646c79;

}

.border-xl {
	//border: 10px solid #4b505b !important;
}

.shadow-grey {
 	text-shadow: 3px 3px 3px #5a5b5d;
}

.shadow-black {
	text-shadow: 1px 1px 2px #5a5b5d;
}