@import "~bootstrap/scss/bootstrap.scss";
@import "./scss/theme.scss";
@import "./scss/libs.scss";
@import "./_portfolio.scss";
@import "./_skill.scss";
@import "./_resume.scss";
@import "./_header.scss";
@import "./_hero.scss";
@import "./_nav.scss";


.section-title h1::before {
	content: '';
	position: absolute;
	display: block;
	width: 120px;
	height: 1px;
	background: #ddd;
	bottom: -30px;
	left: calc(50% - 60px);
}


.section-title h1::after {
	content: '';
	position: absolute;
	display: block;
	width: 40px;
	height: 3px;
	background: #0563bb;
	bottom: -30px;
	left: calc(50% - 20px);
}


