
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        <h1 class="display-3 fw-bold text-white" id="welcomeHeadingSource">
            Nicolas Dupriez <br />
            Développeur <br />
            <span class="text-warning" data-typed='{"strings": ["Web", "PHP / Symfony"]}'></span>
        </h1>
    </div>
</section><!-- End Hero -->