
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        <h1 data-aos="zoom-in">
            Nicolas Dupriez</h1>
        <p>
            Développeur
            <span class="text-warning" data-typed='{"strings": ["Web", "PHP / Symfony", "BackEnd"]}'></span>
        </p>


    </div>
</section><!-- End Hero -->