<!-- NAVBAR -->

<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand text-warning" href="{{ path('home') }}">
            NicoDev
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">

            <!-- Navigation -->
            <ul class="navbar-nav ms-auto">

                {# <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li> #}
                <li class="nav-item">
                    <a class="nav-link" href="#skills">Compétences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#resume">Parcours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Projets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
                <li>

                    <a class="nav-link ms-auto" href="{{ path('admin') }}">Admin</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
